li {
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  h5.text-decoration-line-through {
    text-decoration: line-through;
  }
  
  p.text-decoration-line-through {
    text-decoration: line-through;
  }
